<!-- T0D0 Modal Content -->
<div class="modal fade" #todoModal id="todoModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<div *ngIf="createMode">
						New T0D0
					</div>
					<div *ngIf="!createMode">
						Edit T0D0
					</div>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearToDoData()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Workspace</label>
					<select name="Workspace" class="custom-select" [(ngModel)]="todoData.workspace">
						<option *ngFor="let ws of d0Service.workspaces" [value]="ws.name">{{ws.name}}</option>
					</select>
				</div>
				<form [formGroup]="todoForm">
					<div class="alert alert-danger" *ngIf="formError">
						<b>{{formErrMsg}}</b>
					</div>
					<div class="form-group">
						<label for="">Title</label>
						<input type="text" name="title" placeholder="Title" class="form-control" [(ngModel)]="todoData.title" formControlName="title">
						<div *ngIf="todoForm.controls.title.invalid && (todoForm.controls.title.dirty || todoForm.controls.title.touched)">
							<div class="text-danger" *ngIf="todoForm.controls.title.errors.required">
								Title is required
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">Description</label>
						<textarea name="text" cols="30" rows="2" class="form-control" placeholder="Description" [(ngModel)]="todoData.text" formControlName="text">
					</textarea>
						<div *ngIf="todoForm.controls.text.invalid && (todoForm.controls.text.dirty || todoForm.controls.text.touched)">
							<div class="text-danger" *ngIf="todoForm.controls.text.errors.required">
								Description is required
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">DueDate</label>
						<input type="date" name="dueDate" placeholder="Dead Line" class="form-control" [(ngModel)]="todoData.dueDate" formControlName="dueDate">
						<div *ngIf="todoForm.controls.dueDate.invalid && (todoForm.controls.dueDate.dirty || todoForm.controls.dueDate.touched)">
							<div class="text-danger" *ngIf="todoForm.controls.dueDate.errors.required">
								DueDate is required
							</div>
						</div>
					</div>
					<p>
						<button type="button" class="btn btn-secondary btn-sm" (click)="addTaskItem()">
							Add Tasks+
						</button>
					</p>
					<div class="form-inline" *ngFor="let item of todoData.tasks; let i = index">
						<task-item [item]="item"></task-item>&nbsp;&nbsp;
						<button type="button" class="close" (click)="removeTaskItem(i)">
							<i class="fa fa-times-circle" aria-hidden="true"></i>
						</button>
						<br />
						<br />
					</div>
					<div class="text-danger" *ngIf="tasksError">
						{{tasksErrMsg}}
					</div>
					<div class="alert alert-danger" *ngIf="formError">
						<b>{{formErrMsg}}</b>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="clearToDoData()">Cancel</button>
				<div *ngIf="createMode">
					<button type="button" class="btn btn-primary btn-sm" (click)="createToDo()" [disabled]="!todoForm.valid || formError">Submit</button>
				</div>
				<div *ngIf="!createMode">
					<button type="button" class="btn btn-primary btn-sm" (click)="updateToDo()" [disabled]="!todoForm.valid || formError">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>